.buttons-wrapper{
    button {
        margin-left: 20px;
    }
}

.login-container{
    
    max-width: 900px;
        margin: auto;
 
}

.login-section{
    position: relative;
    padding: 40px;
    width: 100%;
    display: flex;


    .link{
        position: absolute;
        font-size: 30px;
        top: 40px;
        right: 40px;
    }
    .link:hover{
        cursor: pointer;
        color:#3d7bff;
    }
}

.input-wrapper{
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .error{
        text-align: center;
        color: red;
        margin-top: 40px;
        font-size: 21px;
    }

    button{
        margin-top: 20px;
    }
}